#container{
    max-width: 80%;
    margin:  auto;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(#3f9e4d, #388b97) 1;
    border-radius: .25rem;
}

#tmeasures-div{
    padding: 50px;
}

#title-div h3{
    margin-bottom: 25px;
}

#tmeasures-body{
    overflow-y: auto;
    height: 500px;
}

#tmeasures-head thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

#bmore{
    background-color: #388b97;
    border-color: #388b97;
    float: right;
    display: inline-block;
}